// COLORS
$color_1: #fff;
$color_2: #000;
$color_3: #333b46;
$color_4: #81868e;
$color_5: #8ec4bf;
$color_6: #08aa8a;
$color_7: #f3f3f3;;
$color_8: #81868e;
$color_9: #19bd9a;
$color_10: #636971;
$color_11: #1ca789;
$color_12: #f5f9f8;
$color_13: #131313;
$color_14: #333b46;
$color_15: #232323;
$color_16: #b2b3b3;

// FONTS
$font_1: 'Times New Roman', Times, serif;
$font_2: 'SourceSansPro';
$font_3: 'Open Sans';

$font-size_1: 1em;

// ICONS


// IMAGES


// SCREEN
$media-type_1: screen;

// Small devices (landscape phones, 576px and up)
$screen-sm: 576px;
// Medium devices (tablets, 768px and up)
$screen-md: 768px;
// Large devices (desktops, 992px and up)
$screen-lg: 992px;
// Extra large devices (large desktops, 1200px and up)
$screen-xl: 1200px;