@import 'sass/base/_normalize.scss';
@import 'sass/helpers/_mixins.scss';
@import 'sass/helpers/_variables.scss';
@font-face {
    font-family: 'BigJohn';
    src: url('../assets/fonts/BigJohn/BigJohn.woff') format('woff');
  }
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  } 
body {
    @include width-height(100%);
    font-size: 16px;
}
// WRAPPER
.wrapper {
    @include width-height(100%);
    display: grid;
    grid-template-areas:
     "header"
     "about"
     "details"
     "features"
     "services"
     "quotes"
     "portfolio"
     "project"
     "team"
     "textimonials"
     "blog"
     "price"
     "subscribe"
     "contact"
     "map"
     "footer";
    // max-width: 1365px;
    background-color: $color_1;
    @media #{$media-type_1} and (min-width: $screen-lg) {
        .header__container, .footer__container, .about__container {
            @include width-height(80%);
            margin: 0 auto;
        }
    }
}
// HEADER
.header {
    @include width-height(100%);
    @include display-flex(row, nowrap, center, center);
    grid-area: header;
    background: {
        image: url(../assets/img/bg-header.png);
        position: center center;
        size: cover;
    }    
    &__container {
        @include width-height(100%);
        @include display-flex(column, nowrap, center, center);
        padding-bottom: 2em;
    }  
    &__upper {
        @include width-height(100%);
        @include display-flex(row, wrap, center, center);
    }  
    &__logo {
        font: 800 1.6em 'Montserrat';
        color: $color_1;
        margin-left: 5%;
    }    
    &__nav {
        @include display-flex(row, wrap, center, center);       
    }
    &__link-container {
        color:  $color_1;
        margin: 0;
        padding: 0.3em 1.2em;
    }
    &__link-container:hover {
        cursor: pointer;
        border: {
            style: solid;
            width: 0.05em; 
            color: $color_1;
            radius: 1em;
        }
        padding: 0.25em 1.15em;    
    }
    &__link {
        font: normal 1em 'Open Sans';
        text-decoration: none;        
    }    
    &__middle {
        @include width-height(100%);
        @include display-flex(column, nowrap, center, center);
    }
    &__middle-container {
        @include width-height(80%);
        text-align: center;
    }
    &__title {
        font: 200 2.187em '$font_2';
        color: $color_1;
    }
    &__subtitle {
        font: normal 1em 'Open Sans';
        color: $color_1;
    }
    &__button {
        background: {
            url: url(../assets/img/icon-header-arrow.png);
        }
    }
    &__button:hover {
        cursor: pointer;
    }
    @media #{$media-type_1} and (min-width: $screen-md) {
        &__upper {
            @include display-flex(row, wrap, space-between, center);
        }
        &__middle-container {
            @include width-height(60%);
            margin: 3em 0;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        @include width-height(100%, auto);
        padding: 0em 0 4.687em;
        &__container {
            @include width-height(80%);
            padding: 0;
        }
        &__middle-container {
            @include width-height(50%);
            margin: 13em;
        }
    }
}
// ABOUT
.about {
    @include width-height(100%);
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    padding: 2em 0;
    &__info {
        @include width-height(80%);
        grid-row: 2;
        grid-column: 0.7fr;
        text-align: center;
        margin: 0 auto;
        justify-self: center;
        align-self: center;
    }
    &__title {
        // font: 300 1.35em '$font_2';
        font: 300 '$font_2';
        color: $color_3;
    }
    &__text {
        font: normal 0.85em 'Open Sans';
        color: $color_4;
    }
    &__button {
        margin: 1em 0 2em;
        padding: 0.7em 2em;
        background-color: $color_1;
        border: {
            style: solid;
            width: 0.05em;
            color: $color_3;
            radius: 10em;
        }
        outline: none;
    }
    @keyframes about-button {
        0%   {background-color: $color_1;}
        100%  {background-color: $color_5;}        
    }
    &__button:hover {
        cursor: pointer;
        animation-name: about-button;
        animation-duration: 1s;
        background-color: $color_5;
        box-shadow:1px 1px 2px $color_2, 0 0 25px $color_5, 0 0 5px $color_6;
    }
    &__button:hover:after {
        background-color: $color_1;
    }
    &__button:active {
        background-color: $color_6;
    }
    &__button:active:after {
        background-color: $color_5;
    }
    &__ipad {
        grid-row: 1;
        grid-column: 0.3fr;
        margin: 2em auto 0;
    }
    @media #{$media-type_1} and (min-width: $screen-md) {
        @include width-height(80%);
        justify-self: center;
        align-self: center;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1;
        &__info {
            grid-row: 1;
            grid-column: 1/8;
        }
        &__ipad {
            grid-row: 1;
            grid-column: 8/12;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        padding: 4em 0 ;
        &__info {
            grid-row: 1;
            grid-column: 2/8;
        }
        &__ipad {
            grid-row: 1;
            grid-column: 8/11;
        }
    }
}
// DETAILS
.details {
    @include width-height(100%);
    grid-area: details;
    display: block;    
    background-color: $color_7;
    padding: 2em 0;
    &__container {
        @include width-height(90%);
        margin: 0 auto;
        text-align: center;
    }
    &__title {
        font: 300 1.3em $font_2;
        color: $color_3;
    }
    &__subtitle {
        font: normal 0.85em $font_3;
        color: $color_4;
    }
    &__button {
        @include width-height(3.437em, 3.437em);
        outline: none;
        background-color: $color_8;
        border: {
            radius: 10em;
            width: 0;
        }
    }
    @keyframes details-button {
        0%   {background-color: $color_8;}
        100%  {background-color: $color_9;}        
    }
    &__button:hover {
        cursor: pointer;
        animation-name: details-button;
        animation-duration: 0.5s;
        background-color: $color_9;
        box-shadow:1px 1px 2px black, 0 0 25px $color_5, 0 0 5px $color_6;
    }
    &__button:hover:after {
        background-color: $color_8;
    }
    // pressed
    &__button:active {
        background-color: $color_6;
    }
    // unpressed
    &__button:active:after {
        background-color: $color_8;
    }
    &__active_true {
        background-color: $color_9;
    }
    &__button_bg_heart {
        background-image: url(../assets/img/icon-details-heart.png);
    }
    &__button_bg_mouse {
        background-image: url(../assets/img/icon-details-mouse.png);
    }
    &__button_bg_lamp {
        background-image: url(../assets/img/icon-details-lamp.png);
    }
    &__color_green {
        color: $color_9;
    }
    &__color_black {
        color: $color_10;
    }
    &__bold_true {
        font-weight: bold;
    }
    &__info-title {
        font-family: $font_3;
        color: $color_3;
    }
    &__info-text {
        font: none 1em $font_3;
        text-align: left;
        color: $color_4;
    }
    @media #{$media-type_1} and (min-width: $screen-sm) {
        &__container {
            @include width-height(70%);
        }  
    }
    @media #{$media-type_1} and (min-width: $screen-md) {
        &__container {
            @include width-height(80%);
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
        }
        &__header {
            grid-row: 1;
            grid-column: 1;
        }
        &__button-container {
            grid-row: 2;
            grid-column: 1;
        }
        &__info-container {
            grid-row: 3;
            grid-column: 1;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(2, auto);
        }
        &__info-title {
            grid-row: 1;
            grid-column: 1/12;
            justify-self: start;
        }
        &__info-1 {
            grid-row: 2;
            grid-column: 1/4;
        }
        &__info-2 {
            grid-row: 2;
            grid-column: 5/12;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        padding: 4.7em 6em;
        &__container {
            @include width-height(70%);
        }
        &__header {
            grid-row: 1;
            grid-column: 1;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }
        &__title {
            grid-column: 5/9;
        }
        &__subtitle {
            grid-column: 4/10;
        }
        &__button-container {
            margin: 2em 0;
        }
    }
}
// FEATURES
.features {
        @include width-height(100%, auto);
        padding: 2em 0 0 0;
        text-align: center;
        &__title {
        font: 300 1.35em $font_2;
        color: $color_3;
    }
    &__subtitle {
        padding: 1em 0;
        font: normal 0.8em $font_3;
        color: $color_4;
    }
    &__gallery-title {
        font: normal 1.3em $font_2;
        color: $color_1;
        z-index: 20;
    }
    &__gallery-item {
        @include width-height(auto, 20em);
        margin: 0.5em 0;   
        position: relative;       
    }
    &__gallery-item:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba($color: $color_13, $alpha: 0.74);
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
    }
    &__whiskey:before {
        content: "Handmade";
        text-transform: uppercase;
        font: normal 1.3em $font_2;
        color: $color_1;
        padding: 6em;
    }
    &__vintage:before {
        content: "Vintage";
        text-transform: uppercase;
        font: normal 1.3em $font_2;
        color: $color_1;
        padding: 6em;
    }
    &__branding:before {
        content: "Branding";
        text-transform: uppercase;
        font: normal 1.3em $font_2;
        color: $color_1;
        padding: 6em;
    }
    &__gallery-item:hover:before {
        opacity: 0;
    } 
    &__whiskey {
        background: url(../assets/img/img-features-whiskey.png);
        background: {
            size: cover;
            position: center center;
            repeat: no-repeat;
        }          
    }
    &__vintage {
        background: url(../assets/img/img-features-vintage.png);
        background: {
            size: cover;
            position: center center;
            repeat: no-repeat;
        }        
    }
    &__branding {
        background: url(../assets/img/img-features-branding.png);
        background: {
            size: cover;
            position: center center;
            repeat: no-repeat;
        }       
    }
    &__submit {
        padding-top: 2em;
        background-image: url(../assets/img/bg-features-submit2.jpg);
        background: {
            size: cover;
            position: center center;
            repeat: no-repeat;
        } 
    }
    &__submit-title {
        @include width-height(90%);
        margin: 0 auto;
    }
    &__submit-title {
        font: normal 1em $font_3;
        color: $color_12;
        text-align: center;
    }
    &__button {
        font: normal 1em $font_3;
        color: $color_12;
        margin: 1em 0 2em;
        padding: 0.7em 2em;
        background-color: transparent;
        border: {
            style: solid;
            width: 0.05em;
            color: $color_12;
            radius: 10em;
        }
        outline: none;
    }
    &__theme_white {
        font: normal 1.3em $font_3;
        color: $color_1;
    }
    @keyframes features-button {
        0%   {background-color: $color_1;}
        100%  {background-color: $color_5;}        
    }
    &__button:hover {
        cursor: pointer;
        animation-name: features-button;
        animation-duration: 1s;
        background-color: $color_5;
        box-shadow:1px 1px 2px black, 0 0 25px $color_5, 0 0 5px $color_6;
    }
    // return original background
    &__button:hover:after {
        background-color: $color_1;
    }
    // pressed down
    &__button:active {
        background-color: $color_11;
    }
    // unpressed
    &__button:active:after {
        background-color: $color_11;
    }
    @media #{$media-type_1} and (min-width: $screen-md) {
        &__gallery {
            @include width-height(auto, 20em);
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 1fr;
        }
        &__gallery-item {
            @include width-height(100%);
            margin: 0.5em 0;   
        }
        &__whiskey {
            grid-column: 1/3;
            grid-row: 1; 
        }
        &__vintage {
            grid-column: 3/5;
            grid-row: 1; 
        }
        &__branding {
            grid-column: 5/7;
            grid-row: 1;  
        }
        &__submit {
            padding-top: 2em;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        &__gallery {
            grid-template-columns: repeat(4, 1fr);
        }
        &__whiskey {
            grid-column: 1/3;
        }
        &__vintage {
            grid-column: 3/4;
        }
        &__branding {
            grid-column: 4/5; 
        }
        &__submit {
            display: flex;
            justify-content: center;
        }
        &__submit-title {
            display: inline;
            margin-right: 5em;
        }
    }
}
// FOOTER
.footer {
    @include width-height(100%);
    grid-area: footer;
}